doctype html
html
  head
    title= 'FilmSquad'
    style. 
      p {
        font-size: 16px;
        padding: 0 10px;
      }
      @media (max-width: 600px) {
        .table-sizing {
          width: 100%;
        }

        .camera-image {
          width: 100%;
        }

        h1 {
          font-size: 25px;
        }

        h2 {
          font-size: 17px;
        }

        p {
          font-size: 15px;
        }
      }
  body(style="margin:0;padding:0;font-family:Helvetica,sans-serif;")
    block content
