@keyframes castFadeIn
  0%
    opacity: 0
  100%
    opacity: 1

.budget-submenu
  position: absolute
  top: 70px
  height: calc(100vh - 140px)
  width: 100vw
  background: #00000088
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  animation: createTeamFadeIn 1s
  padding: 20px 0
  overflow-y: auto
  overflow-x: hidden
  h2
    font-size: 3rem
    text-transform: uppercase
    text-shadow: 2px 2px #000
    margin-bottom: 10px
  h3
    font-size: 2rem
    text-shadow: 2px 2px #000
    margin-bottom: 5px

.add-button-link
  color: #fff
  .add-button
    margin-top: 5px
    font-size: 4rem
    transition: .4s
    &:hover
      color: #eb4917
      cursor: url("https://i.ibb.co/hBqYm4g/cursorpointer.png") 10 1, pointer

.budget-input-container
  width: 675px
  margin-top: 7px

.budget-title
  display: flex
  justify-content: space-around
  align-items: center
  border: 2px solid #fff
  border-bottom: none
  background: #111111
  height: 30px
  p
    font-size: 2rem
    &:nth-of-type(1)
      margin: 0 25px
    &:nth-of-type(2)
      margin: 0 20px

.budget-input
  position: relative
  display: flex
  justify-content: space-around
  background: #777777
  border: 2px solid #fff
  height: 30px
  input
    font-size: 1.8rem
    background: none
    border: none
    text-align: center
    color: #fff
    cursor: url("https://i.ibb.co/gSHMGzf/cursortext.png") 10 16, text
    &:focus
      outline: none
      border: 1px solid #fff
    &::placeholder
      opacity: .6
  svg
    position: absolute
    right: 10px
    top: 3px
    font-size: 1.8rem
    transition: .4s
    &:hover
      color: #eb4917
      cursor: url("https://i.ibb.co/hBqYm4g/cursorpointer.png") 10 1, pointer

.table-title
  position: sticky
  top: -20px
  z-index: 5
  display: flex
  justify-content: space-around
  align-items: center
  border-top: 2px solid #fff
  border-bottom: 2px solid #fff
  width: 100%
  background: #111111
  height: 35px
  p
    font-size: 2rem
    &:nth-of-type(1)
      margin: 0 25px
    &:nth-of-type(2)
      margin: 0 20px

.table-container
  width: 670px
  border: 2px solid #fff
  border-top: none
  display: flex
  flex-direction: column
  .table-style
    background: #222222
    position: relative
    min-height: 30px
    max-height: 50px
    display: flex
    justify-content: space-around
    input
      font-size: 1.8rem
      text-shadow: 1px 1px #000
      color: #fff
      height: 30px
      background: none
      border: none
      text-align: center
      cursor: url("https://i.ibb.co/gSHMGzf/cursortext.png") 10 16, text
      &:focus
        outline: none
        border: 2px solid #fff
      &::placeholder
        color: #ffffff
        opacity: 1
        font-size: 2rem
        text-shadow: 1px 1px #000
    svg
      position: absolute
      font-size: 19px
      transition: .4s
      color: #f85959
      &:hover
        color: #bd0303
        cursor: url("https://i.ibb.co/hBqYm4g/cursorpointer.png") 10 1, pointer
    svg:nth-of-type(1)
      top: 5px
      right: 35px
    svg:nth-of-type(2)
      right: 7px
      top: 5px
  div:nth-child(2n)
    background: #585858

.total-cost
  color: #ffffff
  background: #111111
  border-top: 2px solid #fff
  text-align: center
  padding: 5px
  font-size: 2rem
  text-transform: uppercase

.gasprice-link
  margin-top: -5px
  margin-bottom: 15px
  a
    color: #fff
    font-size: 1.8rem
    padding: 3px 8px
    transition: .4s
    &:hover
      color: #eb4917
      cursor: url("https://i.ibb.co/hBqYm4g/cursorpointer.png") 10 1, pointer

@media (max-width: 700px)
  .budget-title
    height: 28px
    p
      font-size: 1.6rem
      white-space: nowrap
      &:nth-of-type(1)
        margin: 0 15px
      &:nth-of-type(2)
        margin: 0
      &:nth-of-type(3)
        margin: 0 5px

  .budget-input-container
    width: calc(100% - 20px)
    .budget-input
      padding: 0 10px
      height: 28px
      input
        font-size: 1.5rem
        width: 100%
      svg
        right: 3.5px
        top: 4px
        font-size: 1.9rem

  .table-title
    height: 28px
    p
      font-size: 1.6rem
      white-space: nowrap
      &:nth-of-type(1)
        margin: 0 15px
      &:nth-of-type(2)
        margin: 0 0px
      &:nth-of-type(3)
        margin: 0 5px

  .table-container
    width: calc(100% - 20px)
    .table-style
      padding: 0 10px
      min-height: 28px
      input
        height: 28px
        font-size: 1.5rem
        width: 100%
      &:hover
        color: #bd0303
        cursor: url("https://i.ibb.co/hBqYm4g/cursorpointer.png") 10 1, pointer
      svg:nth-of-type(1)
        font-size: 1.9rem
        top: 5.5px
        left: 7px
      svg:nth-of-type(2)
        font-size: 1.7rem
        right: 5px
        top: 6.5px
